In [9]:
# import all dependencies
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [10]:
# files
# https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv
vaccination_csv = "../data/vaccinations.csv"
# https://gist.githubusercontent.com/tadast/8827699/raw/f5cac3d42d16b78348610fc4ec301e9234f82821/countries_codes_and_coordinates.csv
iso_csv = "../data/countries_codes_and_coordinates.csv"
result_csv = "../data/world_vaccination.csv"

# columns
iso_column = 'iso_code'
date_column = 'date'
total_vaccinations_column = 'total_vaccinations'
daily_vaccinations_raw_column = 'daily_vaccinations_raw'
daily_vaccinations_column = 'daily_vaccinations'
total_vaccinations_per_hundred_column = 'total_vaccinations_per_hundred'
people_fully_vaccinated_per_hundred_column = 'people_fully_vaccinated_per_hundred'
daily_vaccinations_per_million_column = 'daily_vaccinations_per_million'
alpha_2 = 'Alpha-2 code'
alpha_3 = 'Alpha-3 code'

In [11]:
# read file in dataframe
vac_dat = pd.read_csv(vaccination_csv)
vac_dat.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [12]:
# only keep latest data per country
vac_dat = vac_dat[vac_dat.groupby(iso_column)[date_column].transform('max') == vac_dat[date_column]]
vac_dat.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
106,Afghanistan,AFG,2021-06-08,641295.0,482952.0,158343.0,NaN,3388.0,1.65,1.24,0.41,87.0
261,Africa,OWID_AFR,2021-06-12,41331826.0,29589013.0,11057834.0,125596.0,868632.0,3.08,2.21,0.82,648.0
414,Albania,ALB,2021-06-11,830281.0,501735.0,328546.0,7228.0,5599.0,28.85,17.43,11.42,1946.0
543,Algeria,DZA,2021-06-06,2500000.0,2500000.0,NaN,NaN,22664.0,5.70,5.70,NaN,517.0
677,Andorra,AND,2021-06-07,41473.0,30535.0,10938.0,NaN,794.0,53.68,39.52,14.16,10276.0

In [13]:
# change iso code 3 to 2
iso_dat = pd.read_csv(iso_csv)
for (i,iso_3) in vac_dat[iso_column].iteritems():
    for (j, iso_3_src) in iso_dat[alpha_3].iteritems():
        if (iso_3_src.strip(' "\'\t\r\n') == iso_3):
            iso_2 = iso_dat.at[j, alpha_2].strip(' "\'\t\r\n').lower()
            vac_dat.at[i, iso_column] = iso_2
            break
vac_dat.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
106,Afghanistan,af,2021-06-08,641295.0,482952.0,158343.0,NaN,3388.0,1.65,1.24,0.41,87.0
261,Africa,OWID_AFR,2021-06-12,41331826.0,29589013.0,11057834.0,125596.0,868632.0,3.08,2.21,0.82,648.0
414,Albania,al,2021-06-11,830281.0,501735.0,328546.0,7228.0,5599.0,28.85,17.43,11.42,1946.0
543,Algeria,dz,2021-06-06,2500000.0,2500000.0,NaN,NaN,22664.0,5.70,5.70,NaN,517.0
677,Andorra,ad,2021-06-07,41473.0,30535.0,10938.0,NaN,794.0,53.68,39.52,14.16,10276.0

In [14]:
# just keep important data
vac_dat.drop([
    date_column,
    total_vaccinations_column,
    daily_vaccinations_raw_column,
    daily_vaccinations_column,
    total_vaccinations_per_hundred_column,
    people_fully_vaccinated_per_hundred_column,
    daily_vaccinations_per_million_column],
    axis=1, inplace=True)
vac_dat.head()

,location,iso_code,people_vaccinated,people_fully_vaccinated,people_vaccinated_per_hundred
106,Afghanistan,af,482952.0,158343.0,1.24
261,Africa,OWID_AFR,29589013.0,11057834.0,2.21
414,Albania,al,501735.0,328546.0,17.43
543,Algeria,dz,2500000.0,NaN,5.70
677,Andorra,ad,30535.0,10938.0,39.52

In [15]:
# set iso column as csv index
vac_dat.set_index(iso_column, inplace=True)

In [16]:
# create csv file from dataframe
vac_dat.to_csv(result_csv)